/* MEDIA QUERIES */

/* RESPONSIVE */
@media only screen and (min-width: 300px) and (max-width: 1200px) {

    #travel {
        background-size: unset;
        background-repeat: no-repeat;
    }

    #portafolio h2 {
        font-size: 1.5rem;
    }

    .portafolio-container {
        width: fit-content;
        flex-wrap: wrap;
        display: block;
    }
    .portafolio-container .d-h {
        width: 340px;
        height: 680px;
        order: 3;
    }

    .portafolio-container .d-v {
        position: relative;
        width: 340px;
        height: 340px;
        background-size: cover;
    }

    .portafolio-container .d-social {
        background-image: url(../images/social_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portafolio-container .d-producto {
        background-image: url(../images/producto_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .portafolio-container .d-aereo {
        background-image: url(../images/aereo_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .portafolio-container .d-turismo {
        background-image: url(../images/turismo_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .filtro-aereo,
    .filtro-social,
    .filtro-producto,
    .filtro-turismo {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    #p-div-title{
        width: auto;
        font-size: 1em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #portafolio h2 {
        font-size: 2rem;
        letter-spacing: 20px;
    }
    #p-div-title{
        width: auto;
        font-size: 1em;
    }
    .card{
        width: 200px;
        top: 10%;
    }
    .card-texto{
        color: #589bdf;
        text-align: right;
        font-size: 1em;
    }
    
    .card-description{
        line-height: 1;
        font-size: 10px;
    }
    
    a.animated-button.thar-three {
        padding: 10px 10px 10px 10px;
        font-size: 10px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 599px) {
    .card{
        display: none;
    }
    #portafolio {
        padding-top: 10px;
    }
    #portafolio h2 {
        font-size: 1rem;
        letter-spacing: 20px;
    }

    #travel h2 {
        color: #ffff;
        letter-spacing: 30px;
    }
    #p-div-title{
        width: auto;
        font-size: 1em;
    }
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.lach {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    #p-div-title{
        width: auto;
        font-size: 1em;
    }

}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .lach {
        order: 2;
    }
    .menu li {
        padding: 0px 10px;
    }
}

