@font-face {
    font-family: Yugothib;
    src: url("../assets/fonts/yugothib.ttf");
}
* {
    font-family: Yugothib;
}
a {
    text-decoration: none;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}
.header {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    margin-top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.menu {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.logo {
    flex: 1 1 auto;
    margin-left: 2em;
}

.nav {
    flex: 0 1 auto;
    margin-right: 2em;
    height: 100%;
}
.nav a {
    color: gray;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0 1em;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav a:hover {
    color: #000;
}
.nav .dot {
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
.nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.nav a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.fijada {
    display: flex;
    float: right;
    flex-flow: column nowrap;
    position: fixed;
}

.bottom_right {
    bottom: 10px;
    right: 10px;
}
.video {
    padding-top: 30px;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    letter-spacing: 50px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 50px;
    letter-spacing: 10px;
    color: #ffff;
}

p {
    letter-spacing: 2px;
    line-height: 30px;
    margin: 20px 0;
    color: #ffff;
}

a {
    text-decoration: none;
}

#travel {
    margin-top: 45px;
    width: 100%;
    height: 447px;
}
#travel h2 {
    color: #ffff;
}

#portafolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 41px 0;
}
#portafolio h2 {
    color: #747474;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid #747474;
}

.portafolio-container {
    display: flex;
    margin: 50px 0;
}
.portafolio-container .d-h {
    width: 516px;
    height: 541px;
    display: flex;
    flex-direction: column;
}
.portafolio-container .d-v {
    position: relative;
    width: 304px;
    height: 541px;
    background-size: cover;
}
.portafolio-container .d-social {
    background-image: url(../images/calabera.png);
}
.portafolio-container .d-producto {
    background-image: url(../images/producto.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-aereo {
    background-image: url(../images/aereo.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-turismo {
    background-image: url(../images/globo.png);
}

.filtro-aereo,
.filtro-social,
.filtro-producto,
.filtro-turismo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filtro-aereo:hover {
    opacity: 1;
}
.filtro-social:hover {
    opacity: 1;
}
.filtro-producto:hover {
    opacity: 1;
}
.filtro-turismo:hover {
    opacity: 1;
}

.info {
    width: 90%;
    height: fit-content;
    margin: auto;
}

.section {
    text-align: center;
}
.section h3 {
    color: #747474;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #747474;
}
.section p {
    color: #747474;
}

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.section-arrow {
    width: 80px;
    cursor: pointer;
    margin: 40px 0;
    animation: flotar 3s ease-in-out infinite;
}

#social {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 3s;
}

#producto {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#aereo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#turismo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: fit-content;
    margin: auto;
}
.container-img img {
    width: 420px;
    margin: 50px;
    height: 280px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: unset;
    background-color: #000;
    padding: 1em;
    padding: 50px;
}

#Contact-us {
    margin-top: 4em;
    font-size: .7em;
    line-height: 1.5rem;
}

.footer__item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: auto;
    color: #ffff;
    text-align: center;
}
.social-media {
    margin-top: 1em;
}
.social-media a {
    margin: 0 10px;
}
.formulario input,
.formulario span,
.formulario label,
.formulario textarea {
    font-family: "Ubuntu", sans-serif;
    display: inline-block;
    border: none;
    font-size: small;
}
.formulario textarea:focus,
.formulario input:focus {
    outline: 0;
}
input.question,
textarea.question {
    color: #ffff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}
textarea.question {
    font-size: 15px;
}
input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid rgb(255, 174, 0);
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
    margin-bottom: 1em;
}
input.question:focus + label,
textarea.question:focus + label {
    width: 100%;
}
input.question:focus,
input.question:valid {
    padding-top: 1px;
}
textarea.question:valid,
textarea.question:focus {
    margin-top: 10px;
}
input.question:focus + label > span,
input.question:valid + label > span {
    top: -30px;
    font-size: 10px;
    color: #333;
    font-weight: 700;
}
textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -50px;
    font-size: 10px;
    color: #333;
    font-weight: 700;
}
input.question:valid + label,
textarea.question:valid + label {
    border-color: green;
}
input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    margin: 0;
    position: absolute;
    color: #ffff;
    font-size: 15px;
    top: -1.3em;
    left: 0px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
textarea.question + label > span {
    top: -3em;
}

input[type="submit"] {
    -webkit-transition: opacity 0.3s ease, background 0.3s ease;
    transition: opacity 0.3s ease, background 0.3s ease;
    display: block;
    opacity: 1;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: #ffff;
    border: 1px solid white;
    border-radius: 3px;
}
input[type="submit"]:hover {
    background-color: #ffff;
    color: #000;
    font-weight: 600;
}