/* TIPOGRAFIAS */
@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham-Light.otf");
    font-display: swap;
}
@font-face {
    font-family: Gotham-black;
    src: url("../fonts/Gotham-Black.otf");
    font-display: swap;
}

* {
    font-family: Gotham;
}
a {
    text-decoration: none;
    font-family: Gotham-black;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

@keyframes aparecer {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.form-modal {
    background: rgb(42, 42, 42);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.658);
    position: fixed;
    z-index: 10;
    top: 40%;
    text-align: center;
    right: 30%;
    padding: 50px;
    border-radius: 10px;
    animation: aparecer 0.5s ease-in-out;
}

nav {
    background: #d9dcdf;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style-type: none;
}

.item > a {
    color: #3d3d3d;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.item > a:hover {
    color: #5b9cdc;
    border-bottom: 2px solid #5787b9;
    transition: all 0.2s ease 0s;
}

.menu li {
    font-size: 16px;
    padding: 5px 10px;
    white-space: nowrap;
    margin: 0;
}
.toggle a {
    font-size: 20px;
    color: #3d3d3d;
    text-decoration: none;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.toggle {
    order: 1;
}
.item.lach {
    order: 2;
    color: #3d3d3d;
    font-weight: 600;
    font-size: 20px;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active {
    display: block;
}

#go__up {
    display: block;
    width: 2em;
    height: 2em;
    /* Color queda a opinión */
    background-color: #ffc107;
    color: aliceblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    outline: none;
    z-index: 8;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    letter-spacing: 25px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 50px;
    letter-spacing: 10px;
    color: #ffff;
}

.p-portafolio {
    letter-spacing: 1px;
    line-height: 30px;
    margin: 20px 0;
    color: #ffff;
}

a {
    text-decoration: none;
}

/* SECCION TRAVEL */
#travel {
    margin-top: 45px;
    width: 100%;
    height: fit-content;
}
#travel h2 {
    color: #ffff;
}

/* SECCIÓN TITLE */
#portafolio h1{
    color: #3d3d3d;
    font-size: 3em;
}
#p-t-1{
    color: #3d3d3dbb;
    margin-top: 0;    
}
#p-div-title{
    text-align: center;
    width: 1000px;
    line-height: 1.5;
    color: #3d3d3d;
    margin-bottom: 1em;
}

/* SECCION PORTAFOLIO */
#portafolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
#portafolio h2 {
    color: #3d3d3d;
    /* width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; */
    padding-bottom: 5px;
    border-bottom: 2px solid #747474;
}

.portafolio-container {
    display: flex;
}
.portafolio-container .d-h {
    width: 516px;
    height: 541px;
    display: flex;
    flex-direction: column;
}
.portafolio-container .d-v {
    position: relative;
    width: 304px;
    height: 541px;
    background-size: cover;
}
.portafolio-container .d-social {
    background-image: url(../images/calabera.png);
}
.portafolio-container .d-producto {
    background-image: url(../images/producto.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-aereo {
    background-image: url(../images/aereo.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-turismo {
    background-image: url(../images/globo.png);
}

.filtro-aereo,
.filtro-social,
.filtro-producto,
.filtro-turismo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filtro-aereo:hover {
    opacity: 1;
}
.filtro-social:hover {
    opacity: 1;
}
.filtro-producto:hover {
    opacity: 1;
}
.filtro-turismo:hover {
    opacity: 1;
}

.info {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
}

/* SECCION DESPLEGABLE DEL PORTAFOLIO */
.section {
    text-align: center;
}
.section h3 {
    color: #747474;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid #747474;
}
.section p {
    color: #747474;
}

@-webkit-keyframes flotar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.section-arrow {
    width: 80px;
    cursor: pointer;
    margin: 40px 0;
    -webkit-animation: flotar 3s ease-in-out infinite;
    animation: flotar 3s ease-in-out infinite;
}

#social {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 3s;
}

#producto {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#aereo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#turismo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#f-u,
#f-f,
#f-s {
    margin-top: 1em;
    margin-bottom: 1em;
}
#f-u {
    justify-content: center;
    text-align: center;
}
#map {
    width: 200px;
    height: auto;
}

#logo__img {
    width: 5em;
    height: 5em;
}

.footer__map {
    display: flex;
    margin-bottom: -2em;
}
.footer__span {
    font-size: small;
    line-height: 3;
    color: gray;
    font-style: italic;
}
.footer__item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: 14em;
    color: #ffff;
    text-align: center;
    align-items: center;
    margin: 0px 20px;
    background: #000;
}
.about-us {
    text-align: center;
    width: 14em;
    height: auto;
}
.about-us > p {
    color: gray;
    letter-spacing: 0;
    line-height: 1.02;
    font-family: Gotham;
    font-size: small;
    font-weight: 400;
    text-align: justify;
}
.social-media {
    margin-top: 1em;
}
.social-media a {
    margin: 0 10px;
}

/* footer formulario */
.formulario input,
.formulario span,
.formulario label,
.formulario textarea {
    font-family: Gotham;
    display: inline-block;
    border: none;
    font-size: small;
}
.formulario textarea:focus,
.formulario input:focus {
    outline: 0;
}
input.question,
textarea.question {
    color: #ffff;
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}
textarea.question {
    font-size: 15px;
}
input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid rgb(255, 174, 0);
    transition: width 0.4s ease;
    height: 0px;
    margin-bottom: 1em;
}
input.question:focus + label,
textarea.question:focus + label {
    width: 100%;
}
input.question:focus,
input.question:valid {
    padding-top: 1px;
}
textarea.question:valid,
textarea.question:focus {
    margin-top: 10px;
}
input.question:focus + label > span,
input.question:valid + label > span {
    top: -30px;
    font-size: 10px;
    color: #333;
    font-weight: 700;
}
textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -50px;
    font-size: 10px;
    color: #333;
    font-weight: 700;
}
input.question:valid + label,
textarea.question:valid + label {
    border-color: green;
}
input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    margin: 0;
    position: absolute;
    color: #ffff;
    font-size: 15px;
    top: -1.3em;
    left: 0px;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
textarea.question + label > span {
    top: -3em;
}

button {
    transition: opacity 0.3s ease, background 0.3s ease;
    display: block;
    opacity: 1;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: #ffff;
    border: 1px solid white;
    border-radius: 3px;
}
button:hover {
    background-color: #ffff;
    color: #000;
    font-weight: 600;
}

#create {
    background-color: #d9dcdf;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#create > label {
    font-family: Gotham;
    font-weight: 600;
    font-size: 12px;
}
