/* TIPOGRAFIAS */
@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham-Light.otf");
    font-display: swap;
}
@font-face {
    font-family: Gotham-black;
    src: url("../fonts/Gotham-Black.otf");
    font-display: swap;
}
@font-face {
    font-family: RobotoCondensed;
    src: url("../fonts/Roboto/RobotoCondensed-Bold.ttf");
    src: url("../fonts/Roboto/RobotoCondensed-BoldItalic.ttf");
    src: url("../fonts/Roboto/RobotoCondensed-Regular.ttf");
    font-display: swap;
}

/* SWIPER */
.swiper-container {
    width: 100%;
    height: 498px;
}

.swiper-button-next, .swiper-button-prev{
    z-index: 3;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide a{
    width: inherit;
    height: inherit;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
}

/* FILTRO IMG */


/* PAGE SECCTION PORTAFOLIO */

.header {
    background: #000000;
}

.btn-back {
    position: fixed;
    top: 50px;
    left: 100px;
}

.container-img {
    width: 100%;
    height: fit-content;
}

.container-img h2 {
    color: white;
    font-size: 3rem;
    padding-top: 50px;
    text-align: center;
    font-family: RobotoCondensed;
    letter-spacing: 20px;
    margin: 0;
}

.container-img span {
    text-align: center;
    color: #808080;
    margin: 40px auto;
    line-height: 30px;
    font-size: 1.5rem;
    display: block;
}

.container-img span a {
    color: #ffff;
    font-weight: 400;
    font-family: RobotoCondensed;
}

.container-img hr {
    width: 60%;
    margin-top: 20px;
}
.container-img #anuncio >p{
    color:rgba(255, 255, 255, 0.801);
    size: 0.5rem;
}
.container-img #anuncio:hover{
    color:#589bdf;
}


.m-video{
    /* margin-top: 0px; */
    width: 100%;
    height: fit-content;
}

.container-mosaico {
    margin-top: 100px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.mosaico-row {
    width: 100%;
    height: 500px;
    display:flex;
    justify-content:center;
    align-items:unset;
    align-content:flex-start;
}

.f-m {
    width: 50%;
    height: inherit;
}

.img-m {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.f-m a{
    position: relative;
    height: fit-content;
}

.i-a{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 10%;
}
.m div{
    width: 50%;
}
.m{
    margin-bottom: 100px;
}

/* ANIMACION ENTRE PÁGINAS */
.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #3d3d3d;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}



* {
    font-family:RobotoCondensed;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: RobotoCondensed;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

nav {
    background: #d9dcdf;
    padding: 0px 20px;
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style-type: none;
}

.quienes-somos{
    width: 40%;
    text-align: center;
    margin: 70px auto;
}

.logo a label{
    color: #232321;
    font-weight: bold;
    margin-left: 5px;
}

.logo a{
    display: flex;
    align-items: center;
}

.item > a {
    color: #3d3d3d;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.item > a:hover {
    color: #5b9cdc;
    border-bottom: 2px solid #5787b9;
    transition: all 0.2s ease 0s;
}

.menu li {
    font-size: 16px;
    padding: 5px 10px;
    white-space: nowrap;
    margin: 0;
}
.toggle a {
    font-size: 20px;
    color: #3d3d3d;
    text-decoration: none;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.toggle {
    order: 1;
}
.item.lach {
    order: 2;
    color: #3d3d3d;
    font-weight: 400;
    font-size: 20px;
}
.item {
    width: 100%;
    text-align: center;
    order: 3;
}
.item.active {
    display: block;
}

#go__up {
    display: block;
    width: 2em;
    height: 2em;
    /* Color queda a opinión */
    background-color: #ffc107;
    color: aliceblue;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    outline: none;
    z-index: 8;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

/* CARD */
.card {
    background: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: auto;
    width: 400px;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0%;
    margin-right: 5px;
}
.card-texto {
    color: #589bdf;
    text-align: right;
    font-size: 2em;
}

.card-description {
    color: #3d3d3d;
    text-align: center;
    line-height: 2;
    margin-bottom: 2em;
    border-radius: 10px;
    padding: 5px;
    background-color: #c5c5c5d0;
    font-weight: 400;
}

a.animated-button.thar-three {
    color: #589bdf;
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 10px;
    border: 2px solid #589bdf;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
a.animated-button.thar-three:hover {
    color: rgb(255, 255, 255);
    background-color: #232321;
    border: 2px solid #232321;
}
/* FIN CARD */

#h2-portafolio {
    font-size: 2rem;
    letter-spacing: 25px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 50px;
    letter-spacing: 10px;
    color: #ffff;
}

.p-portafolio {
    letter-spacing: 1px;
    line-height: 30px;
    margin: 20px 0;
    color: #ffff;
}

a {
    text-decoration: none;
}

/* SECCION TRAVEL */
#travel {
    margin-top: 45px;
    width: 100%;
    height: fit-content;
}
#travel h2 {
    color: #ffff;
}

/* SECCIÓN TITLE */
#portafolio h1 {
    color: #3d3d3d;
    font-size: 3em;
}
#p-t-1 {
    color: #3d3d3dbb;
    margin-top: 0;
}
#p-div-title {
    text-align: center;
    width: 1000px;
    line-height: 1.5;
    color: #3d3d3d;
    margin-bottom: 1em;
}

.portafolio-info {
    width: 50%;
    text-align: center;
}

/* SECCION PORTAFOLIO */
#portafolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 20px;
}
#portafolio h2 {
    color: #3d3d3d;
    padding-bottom: 5px;
    border-bottom: 2px solid #747474;
}

.portafolio-container {
    display: flex;
}
.portafolio-container .d-h {
    width: 516px;
    height: 541px;
    display: flex;
    flex-direction: column;
}
.portafolio-container .d-v {
    position: relative;
    width: 304px;
    height: 541px;
    background-size: cover;
}
.portafolio-container .d-social {
    background-image: url(../images/img-no-modificar/Mosaico-Porttafolio/calabera.png);
}
.portafolio-container .d-producto {
    background-image: url(../images/img-no-modificar/Mosaico-Porttafolio/producto.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-aereo {
    background-image: url(../images/img-no-modificar/Mosaico-Porttafolio/aereo.png);
    height: 50%;
    position: relative;
}
.portafolio-container .d-turismo {
    background-image: url(../images/img-no-modificar/Mosaico-Porttafolio/globo.png);
}

.filtro-aereo,
.filtro-social,
.filtro-producto,
.filtro-turismo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filtro-aereo:hover {
    opacity: 1;
}
.filtro-social:hover {
    opacity: 1;
}
.filtro-producto:hover {
    opacity: 1;
}
.filtro-turismo:hover {
    opacity: 1;
}

.info {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
}

#social {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 3s;
}

#producto {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#aereo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

#turismo {
    opacity: 0;
    display: none;
    transition: all 0.5s ease-in-out;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#f-u,
#f-f,
#f-s {
    margin-top: 1em;
    margin-bottom: 1em;
}
#f-u {
    justify-content: center;
    text-align: center;
}
#map {
    width: 200px;
    height: auto;
}

#logo__img {
    width: 5em;
    height: 5em;
}

.footer__map {
    display: flex;
    margin-bottom: -2em;
}
.footer__span {
    font-size: small;
    line-height: 3;
    color: gray;
    font-style: italic;
}
.footer__item {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    width: 14em;
    color: #ffff;
    text-align: center;
    align-items: center;
    margin: 0px 20px;
    background: #000;
}
.about-us {
    text-align: center;
    width: 14em;
    height: auto;
}
.about-us > p {
    color: gray;
    letter-spacing: 0;
    line-height: 1.02;
    font-family:RobotoCondensed;
    font-size: small;
    font-weight: 400;
    text-align: justify;
}
.social-media {
    margin-top: 1em;
}
.social-media a {
    margin: 0 10px;
}

/* footer formulario */
.formulario input,
.formulario span,
.formulario label,
.formulario textarea {
    font-family: RobotoCondensed;
    display: inline-block;
    border: none;
    font-size: small;
}
.formulario textarea:focus,
.formulario input:focus {
    outline: 0;
}
input.question,
textarea.question {
    color: #ffff;
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}
textarea.question {
    font-size: 15px;
}
input.question + label,
textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid rgb(255, 174, 0);
    transition: width 0.4s ease;
    height: 0px;
    margin-bottom: 1em;
}
input.question:focus + label,
textarea.question:focus + label {
    width: 100%;
}
input.question:focus,
input.question:valid {
    padding-top: 1px;
}
textarea.question:valid,
textarea.question:focus {
    margin-top: 10px;
}
input.question:focus + label > span,
input.question:valid + label > span {
    top: -30px;
    font-size: 10px;
    color: #333;
    font-weight: 400;
}
textarea.question:focus + label > span,
textarea.question:valid + label > span {
    top: -50px;
    font-size: 10px;
    color: #333;
    font-weight: 400;
}
input.question:valid + label,
textarea.question:valid + label {
    border-color: green;
}
input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
    margin: 0;
    position: absolute;
    color: #ffff;
    font-size: 15px;
    top: -1.3em;
    left: 0px;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}
textarea.question + label > span {
    top: -3em;
}

button, .btn-codigo {
    transition: opacity 0.3s ease, background 0.3s ease;
    display: block;
    opacity: 1;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    color: #ffff;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 20px;
}
button:hover, .btn-codigo:hover {
    background-color: #ffff;
    color: #000;
    font-weight: 400;
}

#create {
    background-color: #d9dcdf;
    padding: 3px 0;
    text-align: center;
}
#create a {
    font-family: RobotoCondensed;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
}

/* PAGE NOSOTROS */
#img-cover > img {
    height: 100vh;
    width: 100%;
    /* position: absolute; */
    z-index: -100;
    margin-bottom: -10px;
}
.us-texto {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 10%;
    right: 0%;
    color: #ffff;
}
#nosotros-titulo {
    font-size: 2em;
}

.form-error{
    color: rgb(216, 55, 55);
}

.link-cliente{
    color: white;
}
/*css UploadFile*/
.page-upload{
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-upload label{
    color: white;
    text-align: center;
    line-height: 2;
    font-size: 30px;
}

.page-upload-label{
    display: flex;
    flex-direction: column;
}

.input-code{
    margin-bottom: 5px;
    height: 30px;
    border: none;
    color: rgba(0, 0, 0, 0.87);
}
#ic-code{
    border-radius: 5px 0 0 5px ;
    width: 30%;
    margin-right: 6px;
}
#ic-url{
    border-radius: 0 5px 5px 0 ;
    width: 68%;
}
#ic-del{
    border-radius: 5px 5px 5px 5px ;
    width: 100%;
}
#label-del{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/*css LinksFooter Inicio*/
.davs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    height: 200px;
}
#label-down{
    text-align: center;
    color: #3d3d3d;
    font-size: 1.9em;
    margin-bottom: 20px;
}
#ic-down{
    border-radius: 5px 5px 5px 5px ;
    width: 19%;
    height: 50px;
    font-size: 25px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

#a-download{
    font-size: 1.3em;
    transition: opacity 0.3s ease, background 0.3s ease;
    display: block;
    opacity: 1;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    width: 30%;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 20px;
    text-align: center;
}
#a-download:hover{
    background-color: #000;
    color: #fff;
    font-weight: 400;
}

