/* MEDIA QUERIES */

/* RESPONSIVE */
@media only screen and (min-width: 300px) and (max-width: 1200px) {
    #travel {
        background-size: unset;
        background-repeat: no-repeat;
    }
    #portafolio h2 {
        font-size: 1.5rem;
    }

    .portafolio-container {
        width: fit-content;
        flex-wrap: wrap;
        display: block;
    }
    .portafolio-container .d-h {
        width: 340px;
        height: 680px;
        order: 3;
    }

    .portafolio-container .d-v {
        position: relative;
        width: 340px;
        height: 340px;
        background-size: cover;
    }

    .portafolio-container .d-social {
        background-image: url(../images/img-no-modificar/img_responsive/social_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portafolio-container .d-producto {
        background-image: url(../images/img-no-modificar/img_responsive/producto_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .portafolio-container .d-aereo {
        background-image: url(../images/img-no-modificar/img_responsive/aereo_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .portafolio-container .d-turismo {
        background-image: url(../images/img-no-modificar/img_responsive/turismo_responsive.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .filtro-aereo,
    .filtro-social,
    .filtro-producto,
    .filtro-turismo {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    #p-div-title {
        width: auto;
        font-size: 1em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    #portafolio h2 {
        font-size: 2rem;
        letter-spacing: 20px;
    }
    #p-div-title {
        width: auto;
        font-size: 1em;
    }
    .card {
        width: 200px;
        top: 20%;
    }
    .card-texto {
        color: #589bdf;
        text-align: right;
        font-size: 1em;
    }

    .card-description {
        line-height: 1;
        font-size: 10px;
    }

    a.animated-button.thar-three {
        padding: 10px 10px 10px 10px;
        font-size: 10px;
    }

    .mosaico-row {
        flex-direction: column;
        height: fit-content;
    }

    .f-m {
        width: 100%;
        height: fit-content;
    }
    .m div{
        width: inherit;
        margin: 20px 0;
    }
    .btn-back {
        position: fixed;
        top: 10px;
        width: 20px;
        left: 5px;
    }
    .btn-back a img {
        width: 40px;
    }
    .portafolio-info {
        width: 94%;
    }
    .quienes-somos{
        width: 90%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
    .card {
        display: none;
    }
    .swiper-container {
        width: 100%;
        height: 200px;
    }
    #portafolio {
        padding-top: 10px;
    }
    #portafolio h2 {
        font-size: 1rem;
        letter-spacing: 20px;
    }

    #travel h2 {
        color: #ffff;
        letter-spacing: 30px;
    }
    #p-div-title {
        width: auto;
        font-size: 1em;
    }
    .mosaico-row {
        flex-direction: column;
        height: fit-content;
    }

    .f-m {
        width: 100%;
        height: inherit;
    }
    .m div{
        width: inherit;
        margin: 20px 0;
    }
    .btn-back {
        position: fixed;
        top: 10px;
        left: 5px;
    }
    .btn-back a img {
        width: 40px;
    }
    .portafolio-info {
        width: 94%;
    }
    .quienes-somos{
        width: 90%;
    }
    .container-img h2{
        font-size: 1.7rem;
        letter-spacing: 8px;
    }
    .page-upload label{
        text-align: center;
        line-height: 1;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .page-upload-label{
        width: 80%;
    }
    #ic-del, #ic-url, #ic-code{
        font-size: 13px;
    }

    #label-down{
        font-size: 1.2em;
    }

    #ic-down{
        height: 30px;
        width: 38%;
        font-size: 15px;
    }
    
    #a-download{
        font-size: 0.9em;
        width: 60%;
    }
}

/* Tablet menu */
@media all and (min-width: 600px) {
    .swiper-container {
        width: 100%;
        height: 200px;
    }
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .item.lach {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    #p-div-title {
        width: auto;
        font-size: 1em;
    }
}

/* Desktop menu */
@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
        z-index: 10000;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .lach {
        order: 2;
    }
    .menu li {
        padding: 0px 10px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 883px){
    .toggle-show{
        display: none;
    }
}